ion-content{
  --background: linear-gradient(30deg, #bcaca0 20%, #c9c8c4 80%);
}

ion-list{
  background: transparent;
  transform: translateY(10vh);
  ion-item{
    --background: transparent;
  }
  ion-list-header{
    height: 15vh;
    margin-bottom: 5vh;
    letter-spacing: 0.5px;
    ion-label, p{
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.alignItems{
  ion-checkbox, ion-note{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
  }

}

ion-footer{
  ion-toolbar{
    --background: transparent;
    ion-text{
      font-size: 0.90rem;
      transform: translateY(-20vh);
      span{
        text-decoration: underline;
      }
    }
  }
}